#page-head {
	width:600px;
	height:40px;
	margin-left:10%;
}


#title-input {
	width: 500px;
	text-align: left; 
	float: left;
}

#title-input textarea {
	resize: none;
	width: 450px;
	height: 36px;
	font-size: 24px;
	word-wrap: break-word;
}

#stat-select {
	float:right;
	/*padding-top: 16px;*/
}

#stat-select select {
	margin-top: 16px;
}

#article-content  {
	margin-top: 20px;
	margin-left:10%;
	text-align: left; 
}

#article-content textarea {
	resize: none;
	width: 600px;
	height: 300px;
	font-size: 18px;
	word-wrap: break-word;
}

#tag-submit {
	width:600px;
	margin-top: 20px;
	margin-left:10%;
	text-align: left; 
}

#tag {
	float: left;
}

#tag textarea {
	resize: none;
	width: 400px;
	height: 30px;
	font-size: 18px;
}

#submit-button {
	float: right;
}

#submit-button input {
	margin-top: 10px;
}

